<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Thremulate | {{ title }}</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

    <link rel="icon" type="image/x-icon" href="{{ url('static', filename='img/icon.ico') }}" />


    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='css/atlantis.min.css') }}" />

</head>

<body data-background-color="dark">

    <div class="main-panel" style="width: 100%;padding-top: 3%;">
        <div class="container">
            

            <h1 class="display-1">400</h1>
            <p class="" style="font-size: 19px;">Bad request. You can
                <a href="javascript:history.back()">go back</a> to the previous page.

        </div>
    </div>



</body>

</html>