{% extends 'base.html' %}

{% block content %}


<!-- Padding Top -->
<div style="margin-top: 4%;"></div>


<div class="row row-card-no-pd">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-head-row">
                    <h4 class="card-title">Campaigns</h4>
                    
                </div>
               <p class="card-category">
                   All Campaigns</p>
            </div>
            <div class="card-body">

                <!-- Button -->
                <div class="d-flex">
                    <button class="btn btn-primary btn-round ml-auto mb-3" data-toggle="modal"
                            data-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        Add Campaign
                    </button>
                </div>

                <!-- Modal for Adding Campaign -->
                <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" style="color: #575962;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header no-bd">
                                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        New</span>
                                    <span class="fw-light">
                        Campaign
                    </span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="small">Create a new Campaign</p>


                                <form role="form" id="addCampaign" action="/campaign_add" method="POST">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Name</label>
                                                <input id="addName" name="addName" type="text" class="form-control"
                                                       placeholder="">
                                            </div>
                                        </div>

                                    </div>
                                </form>


                            </div>
                            <div class="modal-footer no-bd">
                                <button type="button" id="addRowButton" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal for Updating Campaign -->
                <div class="modal fade" id="EditRowModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true" style="color: #575962;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header no-bd">
                                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        Update</span>
                                    <span class="fw-light">
                        Campaign
                    </span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="small">Update the name of a Campaign</p>


                                <form role="form" id="" action="/campaign_add" method="POST">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>New name</label>
                                                <input id="updateName" name="updateName" type="text"
                                                       class="form-control" placeholder="">
                                            </div>
                                        </div>

                                    </div>
                                </form>


                            </div>
                            <div class="modal-footer no-bd">
                                <button type="button" id="editRowButton" class="btn btn-primary">Update</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal for deleting-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #575962;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Campaign</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                This Campaign will be deleted.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                <button id="deleteCampaign" type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Table -->
                <div class="table-responsive">
                    <table id="campaigns" class="table display  table-striped table-hover cell-border text-center" cellspacing="0"
                           width="100%">
                        <thead class="font-weight-bold">
                        <tr>
                            <td>#</td>
                            <td>Name</td>
                            <td>No. of Agents</td>
                            <td>Created</td>
                            <td>Updated</td>

                            <td style="width: 10%">Action</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for camp in campaigns %}
                        <tr>
                            <td>{{ camp.id }}</td>
                            <td>{{ camp.name }}</td>
                            <td>{{ camp.no_of_agents }}</td>
                            <td>{{ camp.created }}</td>
                            <td>{{ camp.updated }}</td>

                            <td>
                                <div class="form-button-action">

                                    <button type="button" data-toggle="modal"
                                            class="btn btn-link btn-primary btn-lg js-edit"
                                            data-original-title="Edit Task" data-campaign-id="{{ camp.id }}"
                                            data-target="#EditRowModal">
                                        <i class="fa fa-edit" data-toggle="tooltip" title="Edit" style="font-size: 20px;"></i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-primary js-details"
                                              data-original-title=""
                                            data-campaign-id="{{ camp.id }}">
                                        <i class="fas fa-info-circle" data-toggle="tooltip" title="More Infomation" style="font-size: 20px;"> 
                                        </i>
                                    </button>

                                    <button type="button" class="btn btn-link btn-danger js-delete"
                                            data-toggle="modal" data-target="#exampleModal" data-original-title="Assign"
                                            data-campaign-id="{{ camp.id }}">
                                        <i class="fa fa-times" data-toggle="tooltip" title="Remove!" style="font-size: 20px;"> </i>
                                    </button>
                                    
                                    

                                </div>
                            </td>


                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{{ url('static', filename='js/core/jquery.3.2.1.min.js') }}"></script>

<script>
    $(document).ready(function () {

        t = $("#campaigns").DataTable();


        $("#addRowButton").click(function () {



            // today.getFullYear() + '-' + (today.getMonth()+1) + '-' + today.getDate();
            // today.getHours() + ':' + today.getMinutes() +':' + today.getSeconds();

            //     t.row.add( [
            //    $("#addName").val(),
            //        action,          
            //    ] ).draw( false );

            document.getElementById('addCampaign').submit();


            $('#addRowModal').modal('hide');

        });

        // Campaign details
        $("#campaigns .js-details").on("click", function () {
            var cid = $(this).attr("data-campaign-id");
            // $.get("http://localhost:8000/campaign_details/" + cid);
            window.location.assign("http://localhost:8000/campaign_details/" + cid);
        });

        // Delete Campaign
        $("#campaigns .js-delete").on("click", function () {
            // confirm("Are you sure");
            var cid = $(this).attr("data-campaign-id");


            $("#deleteCampaign").click(function () {



                $.post("http://localhost:8000/campaign_delete", { 'id': cid });


                $('#exampleModal').modal('hide');


                // Try to force reload
                location.reload(true);
                // window.location.assign("http://localhost:8000/campaigns/");

            });


        });


        // Update Campaign
        $("#campaigns .js-edit").on("click", function () {

            var cid = $(this).attr("data-campaign-id");

            $("#editRowButton").click(function () {

                var name = $("#updateName").val();


                $.post("http://localhost:8000/campaign_update", { 'id': cid, 'name': name });


                $('#EditRowModal').modal('hide');



                location.reload(true);

            });


        });

        });

</script>



{% endblock %}