{% extends 'base.html' %}
{% block content %}
<!-- Padding Top -->
<div style="margin-top: 4%;"></div>
<div class="row row-card-no-pd">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-head-row">
                    <h4 class="card-title">Change Password</h4>
                </div>
                <p class="card-category">
                    <a href="{{ url('user_profile') }}">Back to Account Details</a>
                </p>
            </div>
            <form action="{{ url('change_password_post') }}" method="post">
                <div class="card-body">
                    <p class="text-danger">{{ error }}</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <input type="password" class="form-control" id="password" name="password" value=""
                                       autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirm New Password</label>
                                <input type="password" class="form-control" id="confirm_password"
                                       name="confirm_password" value="" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="old_password">Old Password</label>
                                <input type="password" class="form-control" id="old_password" name="old_password"
                                       value="" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <input type="button" id="cancel" name="cancel" class="btn btn-danger btn-round" value="Cancel">
                    <input class="btn btn-primary btn-round" type="submit" name="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<script src="{{ url('static', filename='js/core/jquery.3.2.1.min.js') }}"></script>
{% endblock %}