{% extends 'base.html' %}

{% block content %}


<!-- Padding Top -->
<div style="margin-top: 4%;"></div>


<div class="row row-card-no-pd">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-head-row">
                    <h4 class="card-title">My Account</h4>

                </div>

                <p class="card-category">
                    <!-- <button class="btn btn-primary btn-link"> -->
                    Account Details
                    <!-- </button> -->
                </p>
            </div>

            <div class="card-body">


                <div class="row">
                    <div class="col-md-1">First Name:</div>
                    <div class="col-md-5">{{ user.fname }}</div>
                </div>
                <div class="row">
                    <div class="col-md-1">Last Name:</div>
                    <div class="col-md-5">{{ user.lname }}</div>
                </div>
                <div class="row">
                    <div class="col-md-1">Email:</div>
                    <div class="col-md-5">{{ user.email }}</div>
                </div>
                <div class="row">
                    <div class="col-md-1">Account:</div>
                    <div class="col-md-5">
                        {% if user.disabled == True %}
                        Locked
                        {% else %}
                        Open
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">Superuser:</div>
                    <div class="col-md-5">
                        {% if user.superuser == True %}
                        Superuser
                        {% else %}
                        Normal user
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">Permission:</div>
                    <div class="col-md-5">
                        {% for perm in user.user_perms %}

                        {{ loop.index }}. {{ perm.perm_name}} <br>

                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">Actions:</div>
                </div>
                

                <div class="row">
                    
                    <div class="col-md-5 account-actions" >
                        <button class="btn btn-primary btn-link"><span class="btn-label"><i
                                    class="fas fa-user-edit"></i></span>
                            <a href="{{ url('reset_password', id=user.id | string) }}">Edit Details</a>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 account-actions">
                        <button class="btn btn-primary btn-link"><span class="btn-label"><i
                                    class="fas fa-key"></i></span>
                            <a href="{{ url('reset_password', id=user.id | string) }}">Reset Password</a>
                        </button>
                    </div>
                </div>

            </div>

            <div class="card-action"></div>


        </div>
    </div>
</div>
</div>

<script src="{{ url('static', filename='js/core/jquery.3.2.1.min.js') }}"></script>



{% endblock %}