{% extends 'base.html' %}
{% block content %}

<!-- Padding Top -->
<div style="margin-top: 4%;"></div>
<!-- Modal for deleting Output -->
<div class="modal fade" id="deleteOutputModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="color: #575962;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Technique Output</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Output from this technique will be deleted.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button id="deleteOutput" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for deleting Assignment-->
<div class="modal fade" id="deleteAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="color: #575962;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Technique Assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This technique will be removed from the Agent.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button id="deleteAssignment" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="row row-card-no-pd">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-head-row">
                    <h4 class="card-title">Agent Details</h4>
                </div>
                <div class="row card-category">
                    <div class="col-md-1">Name:</div>
                    <div class="col-md-2"> {{ agent.name }}</div>
                    <div class="col-md-1">Username:</div>
                    <div class="col-md-2">{{ agent.username }}</div>
                    <div class="col-md-2">Kill Date:</div>
                    <div class="col-md-2">{{ agent.kill_date }}</div>
                </div>
                <div class="row card-category">
                    <div class="col-md-1">Hostname:</div>
                    <div class="col-md-2">{{ agent.hostname }}</div>
                    <div class="col-md-1">Platform:</div>
                    <div class="col-md-2">
                        {% if agent.platform == 'windows' %}
                        Windows
                        {% elif agent.platform == 'linux' %}
                        Linux
                        {% elif agent.platform == 'macos' %}
                        MacOS
                        {% endif %}
                    </div>
                    <div class="col-md-2">Last Contact:</div>
                    <div class="col-md-2">{{ agent.last_contact }}</div>
                </div>
                <div class="row card-category">
                    <div class="col-md-1">Adversary:</div>
                    <div class="col-md-2">{{ agent.adversary }}</div>
                    <div class="col-md-1">OS version:</div>
                    <div class="col-md-2">{{ agent.plat_version }}</div>
                    <div class="col-md-2">Initial Contact:</div>
                    <div class="col-md-2">{{ agent.initial_contact }}</div>
                </div>
                <p class="card-category"><a href="{{ url('agents') }}">Back to Agents</a></p>
            </div>
            <input type="hidden" id="agent_id" name="agent_id" value="{{ agent.id }}">
            <form action="{{ url('assign_post') }}" method="post" accept-charset="utf-8"
                enctype="application/x-www-form-urlencoded">
                <div class="card-body">

                    <!-- Table -->
                    <div class="table-responsive">
                        <table id="agentDetails" class="table display text-center" width="100%">
                            <thead class="font-weight-bold">
                                <tr>
                                    <td>Output</td>
                                    <td>Result</td>
                                    <td>Executed</td>
                                    <td>Action</td>

                                </tr>
                            </thead>
                            <tbody>
                                {% for detail in details %}
                                <tr style="padding-top:1%">
                                    <td style="width: 55%;">
                                        <div class="accordion accordion-default">
                                            <div class="card">
                                                <div class="card-header" id="headingOne" data-toggle="collapse"
                                                     data-target="#{{ detail.name }}{{ detail.test_num }}"
                                                     aria-expanded="true" aria-controls="collapseOne">
                                                    <div class="span-icon">
                                                        <div class="icon-speech"></div>
                                                    </div>
                                                    <div class="span-title">
                                                        {{ detail.name }} (T{{ detail.tech_id}}) Test
                                                        {{ detail.test_num }}
                                                    </div>
                                                    <div class="span-mode" style="margin-right: .5em;"></div>
                                                </div>

                                                <div id="{{ detail.name }}{{ detail.test_num }}" class="collapse"
                                                    aria-labelledby="headingOne" data-parent="#accordion">
                                                    {% if detail.output %}
                                                    <div class="card-body text-left">
                                                        {{ detail.output.replace('\r\n', '<br>') | safe }}
                                                    </div>
                                                    {% else %}
                                                    <div class="card-body text-center">
                                                        Awaiting Execution
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                    </div>
                    </td>
                    <td style="vertical-align: top!important;">
                        {% if detail.result == True %}
                        <i class="fas fa-check-circle text-success result"
                           style="font-size: 1.6em; margin-top: 0.5em;"></i>
                        {% elif detail.result == None %}
                        <i class="fas fa-question-circle text-primary result"
                           style="font-size: 1.6em; margin-top: 0.5em;"></i>
                        {% else %}
                        <i class="fas fa-times-circle text-danger result"
                           style="font-size: 1.6em; margin-top: 0.5em;"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if detail.executed %}
                        <div class="executed-date">
                            {{ detail.executed.strftime("%d-%b-%Y %H:%M:%S") }}
                        </div>
                        {% else %}
                        <div class="executed-date">
                            None
                        </div>
                        {% endif %}
                    </td>
                    <td style="vertical-align: top!important;" class="text-right">
                        {% if detail.output %}
                        <button type="button" class="btn btn-link btn-danger js-delete-output" data-toggle="modal"
                            data-target="#deleteOutputModal" data-tech-id="{{ detail.tech_id }}"
                            data-test-num="{{ detail.test_num }}">
                            <i class="fa fa-times" data-toggle="tooltip" title="Delete Output!"
                                style="font-size: 1.5em;"> </i>
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-link btn-danger js-delete-assignment" data-toggle="modal"
                            data-target="#deleteAssignmentModal" data-tech-id="{{ detail.tech_id }}"
                            data-test-num="{{ detail.test_num }}">
                            <i class="fas fa-times-circle" data-toggle="tooltip" title="Delete Assignment!"
                                style="font-size: 1.5em;"> </i>
                        </button>
                    </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
        </div>
        </form>
    </div>
</div>
</div>
<script src="/static/js/core/jquery.3.2.1.min.js?v=hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4%3D"></script>
<script>
    $(document).ready(function () {
        $("#agentDetails").DataTable();
        // Delete Output
        $("#agentDetails .js-delete-output").on("click", function () {
            var btn = $(this);
            var tech_id = btn.attr("data-tech-id");
            var test_num = btn.attr("data-test-num");
            $("#deleteOutput").click(function () {
                var agent_id = $('#agent_id').val();
                $.post("/delete_tech_output", { 'tech_id': tech_id, 'agent_id': agent_id, 'test_num': test_num },
                    function (data, status) {
                        if (status == 'success') {
                            if (data == 'deleted') {
                                var table_row = btn.parents('tr');
                                var output = table_row.find('.card-body');
                                output[0].innerHTML = 'Awaiting execution';
                                output.removeClass("text-left");
                                output.addClass("text-center");
                                // Changing replace icon
                                table_row.find('.result').replaceWith('<i class="fas fa-question-circle text-primary result" style="font-size: 1.6em; margin-top: 0.5em;"></i>')
                                // Changing executed date
                                table_row.find('.executed-date').replaceWith('None')
                            }
                        }
                    });
                $('#deleteOutputModal').modal('hide');
            });
        });

        // Delete Assignment
        $("#agentDetails .js-delete-assignment").on("click", function () {
            var btn = $(this);
            var tech_id = btn.attr("data-tech-id");
            var test_num = btn.attr("data-test-num");
            $("#deleteAssignment").click(function () {
                var agent_id = $('#agent_id').val();
                $.post("/delete_tech_assignment", { 'tech_id': tech_id, 'agent_id': agent_id, 'test_num': test_num },
                    function (data, status) {
                        if (status == 'success') {
                            if (data == 'deleted') {
                                btn.parents('tr').remove();
                            }
                        }
                    });
                $('#deleteAssignmentModal').modal('hide');
            });
        });
    });
</script>
{% endblock %}