{% extends 'base.html' %}

{% block content %}


<!-- Padding Top -->
<div style="margin-top: 4%;"></div>


<div class="row row-card-no-pd">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-head-row">
                    <h4 class="card-title">{{ name }} (T{{ id }})</h4>

                </div>

                <p class="card-category">
                    <p class="card-category">
                        View or Modify values for this technique</p>
                    <p class="card-category">
                        <!-- <button class="btn btn-primary btn-link"> -->
                        <a href="{{ url('assign_get', id=agent_id) }}">Back to Assigning Techniques</a>
                        <!-- </button> -->
                    </p>
            </div>
            <div class="card-body">



                {% for test in tests %}

                <h4> {{ loop.index }}. {% filter upper %} {{ test.at_test.name}} {% endfilter %}</h4>
                <p>Description: {{ test.description}}</p>
                <p>Elevation required: {{ test.at_test.elevation_required}}</p>

                {% if test.at_test.command %}
                <p>Command(s): <br> {{ test.at_test.command.replace('\n', '<br>') | safe }}</p>
                

              
                {% endif %}

                {% if test.at_test.steps %}
                <p>Steps: <br> {{ test.at_test.steps.replace('\n', '<br>') | safe}}</p>
                {% endif %}


                <div class="row">
                    <div class="col-md-8">
                        <form action="" method="post">
                            {% for param in test.params %}
                            <div class="form-group">
                                <label for="email2">{{ param.pname }}</label>
                                <input type="text" class="form-control form-control-sm" id="" name="{{ param.pname }}"
                                    value="{{ param.pvalue }}">
                            </div>
                            {% endfor %}
                            <div style="height: 1em;"></div>
                            {% if test.at_test.command %}
                            <input id="submit-custom" type="button" class="btn btn-primary btn-round" value="Assign"
                                style="padding:.5rem 1.2rem;">
                            <input type="button" id="custom-done" class="btn btn-danger btn-round" value="Cancel"
                                style="padding:.5rem 1.2rem;">
                            {% endif %}
                            
                            
                        </form>
                    </div>
                </div>


                <hr>
                <div style="height: 2em;"></div>
                {% endfor %}





            </div>
        </div>
    </div>
</div>

<script src="{{ url('static', filename='js/core/jquery.3.2.1.min.js') }}"></script>

<script>
    $(document).ready(function () {
        // Submit customised parameters
        $("#submit-custom").click(function () {

            // var vals = [];
            // var keys = [];

            var key_arr = [];
            var val_arr = [];

            vals = $(".value");
            keys = $(".key");
            // console.log("Array vals length: " + vals.length);

            // console.log("Data length:" + vals.length);

            var i;
            console.log('#########################################');

            for (i = 0; i < vals.length; i++) {
                if (vals[i] == undefined) {
                    vals[i].value = "";
                }
                // console.log('Value ' + i + ':' + vals[i].value);

                val_arr[i] = vals[i].value;
            }

            console.log('#########################################');

            if (keys != undefined || keys.length > 0) {
                var k;
                //  console.log("Data length:" + keys.length);
                for (k = 0; k < keys.length; k++) {
                    if (keys[k] == undefined) {
                        keys[k].innerHTML = '';
                    }
                    // console.log('Key ' + k + ':' + keys[k].innerHTML);
                    key_arr[k] = keys[k].innerHTML;
                }

            }

            var kk = key_arr.toString();
            vv = val_arr.toString();
            console.log(kk);
            console.log(vv);

            $.post("http://localhost:8000/customize_technique_post",
                { 'keys': kk, 'values': vv });

            // console.log(keys.toString());
            // console.log( vals.toString());


            // Goes back to previous webpage to assign more techniques     
            window.history.back();
            //window.location.assign("http://localhost:8000/assign_tasks/" + val_arr[0]);

        });


    });


</script>


{% endblock %}