{% extends 'base.html' %}

{% block content %}


<!-- Padding Top -->
<div style="margin-top: 4%;"></div>


<div class="row row-card-no-pd">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-head-row">
                    <h4 class="card-title">Deploy Agent</h4>

                </div>
                <p class="card-category">
                    Paste in the terminal</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <!-- <h2 class="font-weight-bold text-center card-category"> Windows</h2> -->
                        <h3 class="font-weight-bold text-center mb-4">Windows</h3>
                        <p>Powershell (All Versions):</p>
                        <kbd>(New-Object System.Net.WebClient).DownloadFile("http://<span
                                class="address"></span>:8080/get_agent/win_agent.exe",
                            "C:/test/agent.exe");
                            C:/test/agent.exe -server localhost;</kbd>
                        <p class="mt-3" >Powershell v3, v4 & v5 :</p>
                        <kbd>mkdir C:/test;Invoke-WebRequest -Uri "http://<span
                                class="address"></span>:8080/get_agent/win_agent.exe"
                            -OutFile "C:/test/agent.exe";
                            C:/test/agent.exe -server localhost;
                        </kbd>
                    </div>
                    <div class="col-md-4">
                        <h3 class="font-weight-bold text-center mb-4">Linux</h3>
                        <p>Bash cURL :</p>
                        <kbd>mkdir /opt/test;curl http://<span class="address"></span>:8080/get_agent/lin_agent.exe -o
                            /opt/test/agent.exe ;
                            /opt/test/agent.exe -server localhost;</kbd>
                        <p class="mt-3">Bash wget</p>
                        <kbd>mkdir /opt/test;curl http://<span class="address"></span>:8080/get_agent/lin_agent.exe -o
                            /opt/test/agent.exe ;
                            /opt/test/agent.exe -server localhost;</kbd>
                    </div>
                    <div class="col-md-4">
                        <h3 class="font-weight-bold text-center mb-4">MacOS</h3>
                        <p>Bash cURL :</p>
                        <kbd>mkdir /opt/test;curl http://<span class="address"></span>:8080/get_agent/mac_agent.exe -o
                            /opt/test/agent.exe ;
                            /opt/test/agent.exe -server localhost;</kbd>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>

    var address = location.hostname;

    // address = address + ;

    var items = document.getElementsByClassName("address");
    for (i = 0; i < items.length; i++) {
        items[i].innerText = location.hostname
    }



</script>
{% endblock %}