<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url('static', filename='img/icon.ico') }}">

    <title>Thremulate | Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='css/bootstrap.min.css') }}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='css/cover.css') }}"/>
</head>

<body class="text-center" style="background: #1a2035">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Thremulate</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="{{ url('login') }}">Login</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Thremulate</h1>
        <p class="lead">This is the most comprehensive adversary emulation framework. Test your network's resilience
            against
            real world hacker techniques.
        </p>
        <p class="lead">Thremulate's stand alone server and agent are totally platform independent.
            You can mix and match platforms.
        </p>
        <p class="lead">Over 140 adversarial techniques are available for your Windows, Linux and MacOS platforms.</p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Free Open Source Software</a>.</p>
        </div>
    </footer>
</div>

</body>

</html>